@import 'src/styles/variables';

.round {
  position: relative;
  height: 100%;
}

.wrapper_date {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  color: $colorBlackBlue;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; /* 150% */
  left: 71px;
  position: absolute;

  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 0.5s;
}
.container {
  width: 530px;
  height: 530px;
  margin-top: 215px;
  border-radius: 50%;
  border: 1px solid $colorRound;
  position: relative;
}

.block {
  cursor: pointer;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -28px;
  left: 237px;
  transform-origin: 28px 293px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active_text {
  background-color: $backgroundColorPage;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid $colorSmallRound;
  border-radius: 50%;
  color: $colorBlackBlue;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.line {
  display: none;
}
.empty_block {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $colorBlackBlue;
}

.anime_hover {
  animation-fill-mode: forwards;
  animation-name: animeHover;
  animation-duration: 0.5s;
  background-color: $backgroundColorPage;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid $colorSmallRound;
  border-radius: 50%;
}

@keyframes animeHover {
  0% {
    opacity: 0;
    background: $colorBlackBlue;
  }
  100% {
    opacity: 1;
    background: $backgroundColorPage;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .wrapper_date {
    padding: 0 20px;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    top: 59px;
    left: 20px;
    width: 123px;
  }
  .container {
    display: none;
  }
  .line {
    display: block;
    margin: 0 20px 20px;
    border-bottom: 1px solid $line;
  }
}
