@import 'src/styles/variables';
.container {
  border-right: 1px solid $colorLine;
  border-left: 1px solid $colorLine;
  height: 100vh;
  position: relative;
}
.line_gradient {
  position: absolute;
  top: 177px;
  height: 120px;
  width: 5px;
  background: $gradient;
}
.title {
  position: absolute;
  top: 170px;
  left: 78px;
  width: 353px;
}
//.content {
//  margin: 170px 160px 104px 80px;
//  position: relative;
//}
