$backgroundColorPage: #f4f5f9;
$backgroundColorButtonVector: #fff;
$colorBlackBlue: #42567a;
$colorRound: rgba(66, 86, 122, 0.2);
$colorLine: rgba(66, 86, 122, 0.1);
$colorSmallRound: rgba(48, 62, 88, 0.5);
$colorLineHover: rgba(66, 86, 122, 0.75);
$colorDatePurple: #5d5fef;
$colorDatePink: #ef5da8;
$colorDateBlue: #3877ee;
$gradient: linear-gradient(180deg, rgba(56, 119, 238, 1) 0%, rgba(239, 93, 168, 1) 100%);
$line: #c7cdd9;
